<div class="galeria">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center titulo">
        <h3 class="display-3">Mi Galeria</h3>
      </div>
    </div>


    <!--TABS-->
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a role="button" (click)="cambiarOpcion('TODO',-1)" class="nav-link" id="itemnavini">All</a>
      </li>
      <li class="nav-item" *ngFor="let item of categoriasGlobales; let i=index">
        <a role="button" id="itemnav{{i}}" class="nav-link" (click)="cambiarOpcion(item.categoria,i)">{{item.categoria}}</a>
      </li>

    </ul>
    <!--TABS-->
  </div>

  <div class="container-fluid mt-2">
    <div class="gallery">
      <div *ngFor="let item of imagenes">
        <img class="masonryImg" src="{{item.imagenUrl}}" (click)="openModal(item.imagenUrl)" data-bs-toggle="modal" data-bs-target="#imageDetailModal"/>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageDetailModal" tabindex="-1" aria-labelledby="imageDetailLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageDetailLabel">Detalle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <img class="modalImg" [src]="selectedImg">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
