<div class="galeria">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center titulo">
        <h3 class="display-3">Mi Galeria</h3>
      </div>
    </div>


    <!--TABS-->
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a role="button" (click)="cambiarOpcion('TODO',-1)" class="nav-link" id="itemnavini">Todo</a>
      </li>
      <li class="nav-item" *ngFor="let item of categoriasGlobales; let i=index">
        <a role="button" id="itemnav{{i}}" class="nav-link" (click)="cambiarOpcion(item.categoria,i)">{{item.categoria}}</a>
      </li>

    </ul>
    <!--TABS-->
  </div>

  <div class="container-fluid mt-2">
    <div class="grid-wrapper">
      <div *ngFor="let item of imagenes">
        <img
          src="{{item.imagenUrl}}"
          alt="" />
      </div>
    </div>
  </div>
</div>
