<div class="background_image" id="header">
  <div class="container_fluid container_custom d-flex h-100">
    <div class="row align-self-center w-100">
      <div class="col-12">
        <div class="hero-text">
          <h1 class="display-1 titulo_principal">Krisly Photography</h1>
          <blockquote class="blockquote text-right">
            <p class="mb-0">"Una fotografía es un secreto sobre un secreto, cuanto más te cuenta menos
              sabes.” </p>
            <footer class="blockquote-footer mt-3">Percy W. Harris</footer>
          </blockquote>
        </div>
      </div>
    </div>

    <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <div class="line line-1">
      <div class="wave wave1" style="background-image: url('../../../assets/1.png');"></div>
    </div>
    <div class="line line-2">
      <div class="wave wave3" style="background-image: url('../../../assets/2.png');"></div>
    </div>
    <div class="line line-3">
      <div class="wave wave3" style="background-image: url('../../../assets/3.png');"></div>
    </div>
  </div>
  <div class="row seccion division section-divider">
    <div class="col-12 division-1 d-flex justify-content-center">
      <h4>"La fotografía podría ser esa tenue luz que modestamente nos ayudará a cambiar las cosas."</h4>
    </div>
  </div>

  <div class="container-fluid seccion w-50">
    <div class="col-12 d-flex justify-content-center">
      <h2 class="display-4">Mi Trabajo</h2>
    </div>
    <div class="row d-flex justify-content-center row-cols-1 row-cols-md-3">
      <div *ngFor="let item of imagenesLANDPAGE">
        <div class="col mb-2">
          <div class="card custom-card" style="width: 18rem;">
            <img src="{{item?.imagenUrl}}" class="card-img-top" alt="...">
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="row seccion division section-divider">
    <div class="col-12 division-1">
      <div class="col-12 d-flex justify-content-center contacto">
        <h3 class="display-4">Contacto</h3>
      </div>
      <form action="/send_email" method="post" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingrese su Nombre" name="nombre" required>
          <div class="invalid-feedback">
            Porfavor Introduzca su Nombre.
          </div>
        </div>
        <div class="form-group">
          <label for="nombre">Telefono:</label>
          <input type="text" class="form-control" id="numero" placeholder="Ingrese su Numero de Telefono" name="numero"
            required>
          <div class="invalid-feedback">
            Porfavor Introduzca su Numero de Telefono.
          </div>
        </div>
        <div class="form-group">
          <label for="email">Correo Electronico:</label>
          <input type="email" class="form-control" id="email" placeholder="Ingrese su Correo" name="email" required>
          <div class="invalid-feedback">
            Porfavor Introduzca su Correo.
          </div>
        </div>
        <div class="form-group">
          <label for="mensaje">Mensaje:</label>
          <textarea class="form-control" id="mensaje" rows="3" name="mensaje" placeholder="Ingrese su Mensaje"
            required></textarea>
          <div class="invalid-feedback">
            Porfavor Introduzca su Mensaje.
          </div>
        </div>
        <div class="row d-flex justify-content-center submit">
          <button type="submit" class="btn btn-outline-light btnEnviar">Enviar</button>
        </div>
      </form>
    </div>
  </div>

  <footer class="page-footer">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <ul class="social-icons">
        <!-- Link de whatsapp -->
        <li><a href="https://www.instagram.com/krislyph/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://wa.link/a439u2"><i class="fa fa-whatsapp"></i></a></li>
      </ul>
    </div>
    <!-- Copyright -->
  </footer>

  <div class="extra"></div>
