<div class="precios">
  <div class="container-fluid galeria">
    <div class="row">
      <div class="col-12 d-flex justify-content-center titulo">
        <h3 class="display-3">Precios</h3>
      </div>
    </div>


    <!--TABS-->
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item" *ngFor="let item of listaCategorias;let i=index">
        <a role="button" class="nav-link" id="itemnav{{i}}" (click)="cambiarOpcion(item,i)">{{item}}</a>
      </li>
    </ul>
    <!--TABS-->
  </div>

  <div class="container-fluid mt-2 altoBG">
    <div id="generic_price_table" class="h-100">
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let item of planesActuales;let i=index">
              <div class="generic_content clearfix">
                <div class="generic_head_price clearfix">
                  <div class="generic_head_content clearfix">
                    <div class="head_bg"></div>
                    <div class="head">
                      <span>{{item.nombreplan}}</span>
                    </div>
                  </div>
                  <div class="generic_price_tag clearfix">
                    <span class="price">
                      <span class="sign">$</span>
                      <span class="currency">{{item.precio}}</span>
                      <span class="cent">.00</span>
                    </span>
                  </div>
                </div>
                <div class="generic_feature_list">
                  <ul>
                    <li *ngIf="item.desc1 != null">{{item.desc1}}</li>
                    <li *ngIf="item.desc2 != null">{{item.desc2}}</li>
                    <li *ngIf="item.desc3 != null">{{item.desc3}}</li>
                    <li *ngIf="item.desc4 != null">{{item.desc4}}</li>
                    <li *ngIf="item.desc5 != null">{{item.desc5}}</li>
                  </ul>
                </div>
                <div class="generic_price_btn clearfix">
                  <a role="button" href="contacto">Contactar</a>
                  <a role="button" data-bs-toggle="modal" data-bs-target="#modalPrecios">Ejemplos</a>
                </div>
              </div>
            </div>


          </div>
        </div>
      </section>
    </div>
  </div>

</div>


<!--Seccion de modales-->
<!-- Modal -->
<!-- <div class="modal fade" id="modalPrecios" tabindex="-1" aria-labelledby="modalPreciosLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="modalPreciosLabel">{{seccionActual}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let item of imagenesActuales; let i = index"  [ngClass]="{ 'active': i === 0 }">
              <img [src]="item?.imagenUrl" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade" id="modalPrecios" tabindex="-1" aria-labelledby="modalPreciosLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalPreciosLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let item of imagenesActuales; let i = index"  [ngClass]="{ 'active': i === 0 }">
              <img [src]="item?.imagenUrl" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

